<mat-toolbar color="primary">
  <span style="cursor: pointer" routerLink="/">User Management</span>
  <button
    *ngIf="isAuthenticated && isAdmin"
    mat-button
    style="margin-left: 10px"
    class="example-icon"
    routerLink="/users-list"
    routerLinkActive="mat-accent"
  >
    <mat-icon>group</mat-icon>
    Users
  </button>

  <button
    *ngIf="isAuthenticated && (isAdmin || isManager)"
    mat-button
    style="margin-left: 10px"
    class="example-icon"
    routerLink="/settings"
    routerLinkActive="mat-accent"
  >
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <span class="example-spacer"></span>
  <button
    *ngIf="!isAuthenticated"
    mat-button
    class="example-icon"
    routerLink="/auth/login"
    routerLinkActive="mat-accent"
  >
    <mat-icon>person</mat-icon>
    LogIn
  </button>
  <button
    *ngIf="!isAuthenticated"
    mat-button
    class="example-icon"
    routerLink="/auth/signup"
    routerLinkActive="mat-accent"
  >
    <mat-icon>person_add</mat-icon>
    Sign Up
  </button>
  <button
    *ngIf="isAuthenticated"
    mat-button
    type="button"
    class="example-icon"
    (click)="onLogOut()"
  >
    <mat-icon>logout</mat-icon>
    LogOut
  </button>
</mat-toolbar>
