mat-form-field {
  width: 100%;
  padding-top: 20px;
}

.delete-btn {
  cursor: pointer;
}

.child-form-row {
  display: flex;
  align-items: center;

  mat-form-field {
    width: 50%;
    margin-right: 5px;
  }
}

.basic-form {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
